body {
    background: #0f1c3f;
    color: white;
    text-align: center;
    font-family: Arial;
}

.streets button {
    padding: 10px;
    margin: 10px;
}

.bins-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.bin-card {
    text-align: center;
}

body {
    background: #0f1c3f;
    color: white;
    text-align: center;
    font-family: Arial;
}

.streets button {
    padding: 10px;
    margin: 10px;
}

.bins-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.bin-card {
    text-align: center;
}

.lid {
    width: 70px;
    height: 15px;
    background: gray;
    margin: auto;
    border: 2px solid white;
}

.bin {
    width: 70px;
    height: 110px;
    border: 3px solid white;
    position: relative;
    background: black;
    overflow: hidden;
    margin-bottom: 10px;
}

.fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: green;
    transition: height 0.5s;
}
